<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>ConCrédito</title>
<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png" />
<link rel="stylesheet" href="../assets/css/libs/bootstrap.css"/>
<link rel="stylesheet" href="../assets/css/font-awesome.css"/>
<link rel="stylesheet" href="../assets/css/libs/formValidation.css"/>
<link rel="stylesheet" href="../assets/css/libs/jquery.dataTables.css"/>
<link rel="stylesheet" href="../assets/css/libs/responsive.dataTables.min.css"/>



<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
<!--[if gt IE 7]>
<script src="../assets/js/libs/html5shiv.js"></script>
<script src="../assets/js/libs/respond.js"></script>
<script src="../assets/js/libs/cssqueries.js"></script>
<![endif]-->