@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Regular.ttf") format('truetype');
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/montserrat/Montserrat-Regular.woff") format('woff'), url("../fonts/montserrat/Montserrat-Regular.woff2") format('woff'), url("../fonts/montserrat/Montserrat-Regular.ttf") format('truetype'), url("../fonts/montserrat/Montserrat-Regular.svg#futura_bk_btbook") format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/RobotoSlab-Regular.ttf") format('truetype');
  src: url("../fonts/roboto/RobotoSlab-Regular.eot");
  src: url("../fonts/roboto/RobotoSlab-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto/RobotoSlab-Regular.woff") format('woff'), url("../fonts/roboto/RobotoSlab-Regular.woff2") format('woff'), url("../fonts/roboto/RobotoSlab-Regular.ttf") format('truetype'), url("../fonts/roboto/RobotoSlab-Regular.svg#futura_bk_btbook") format('svg');
}
.montserrat {
  font-family: 'Montserrat', Helvetica, sans-serif;
}
.roboto {
  font-family: 'Roboto', Helvetica, sans-serif;
}
* {
  padding: 0;
}
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}
.display-errors {
  color: #a94442;
  border-color: #ebccd1;
}
display-success {
  color: #3c763d;
  border-color: #d6e9c6;
}
no_margin {
  padding-left: 0px;
  padding-right: 0px;
}
active_pagination {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
#configuracion_create {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}
#configuracion_create .breadcrumb {
  padding-left: 50px;
}
