

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html {
    width: 100%;
    height:100%;
    overflow:hidden;
}


body {
	width: 100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	background: #ffffff;


}

.login {
	position: absolute;
	top: 30%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.login h1 {
    color: #fff;
    letter-spacing:1px;
    text-align:center;
}





