/********************************* FONTS *******************************************************************************/
@font-face
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Regular.svg#futura_bk_btbook') format('svg');

@font-face
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-Regular.ttf') format('truetype');
  src: url('../fonts/roboto/RobotoSlab-Regular.eot');
  src: url('../fonts/roboto/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/RobotoSlab-Regular.woff') format('woff'),
  url('../fonts/roboto/RobotoSlab-Regular.woff2') format('woff'),
  url('../fonts/roboto/RobotoSlab-Regular.ttf') format('truetype'),
  url('../fonts/roboto/RobotoSlab-Regular.svg#futura_bk_btbook') format('svg');


/********************************* TIPOGRAFIA*******************************************************************************/
montserrat = 'Montserrat',Helvetica, sans-serif;

.montserrat{
  font-family 'Montserrat', Helvetica, sans-serif
}

roboto = 'Roboto',Helvetica, sans-serif;

.roboto{
  font-family 'Roboto', Helvetica, sans-serif
}


/********************************* BACKGROUND*******************************************************************************/
bg-cloud = #f2f5f5;
bg-highblue = #2c3e50;
bg-red = rgb(213,43,30);
bg-green = rgb(182,191,0);
bg-success = #5cb85c;
bg-black = #000000;
bg-gray = #95a5a6;
bg-light-gray = #e8e8e8;
bg-cloud = #ecf0f1;
bg-white = #ffffff;
bg-orange = #F39C12;
bg-sunflower =#F1C40F;
bg-yellow =  #ff0;
bg-pumpking = #D35400;

yellow-flat = #ffc107;
/********************************* COLORS *******************************************************************************/
color-white = #ffffff;
color-black = #000000;
color-yellow =  #ff0;
color-sunflower = #f1c40f;
color-orange = #f39c12;
color-cloud = #f2f5f5;
color-gray = #95a5a6;
color-light-gray = #e8e8e8;
color-red = #ff0000;
color-success = #3c763d;
color-pumpking = #D35400;
color-highblue = #2c3e50;
color-red-2=#c0392b;




/********************************* FONTS SIZE *******************************************************************************/
size-10 = 10px;
size-12 = 12px;

/********************************* FONTS SIZE *******************************************************************************/


border-success = #398439;
border-highblue = #2c3e50;
border-orange = #F39C12;
border-carrot = #E67E22;
border-red = #C0392B;
border-yellow =#F1C40F;
border-emerald = #2ECC71;


/********************************* GLOBALS *******************************************************************************/

*
  padding 0

body
  font-family montserrat

.display-errors
  color rgb(169,68,66);
  border-color #ebccd1;


display-success
  color #3c763d;
  border-color #d6e9c6;

no_margin
  padding-left 0px
  padding-right 0px

active_pagination
  color: #ffffff
  background-color: #337ab7
  border-color: #337ab7


/********************************* FUNCTIONS*******************************************************************************/
border-radius(n)
  -webkit-border-radius n
  border-radius  n

custom-padding(left ,right)
  padding-left left
  padding-right right

no-space(left, right, top, bottom)
  padding-left left
  padding-right right
  padding-top top
  padding-bottom bottom

side-space(left, right)
  padding-left left
  padding-right right

button-padding(width,height)
  padding-left width
  padding-right width
  padding-top height
  padding-bottom height

button-hover(color,background,border)
  color color
  background-color background
  border-color border

