@import 'styles'

bg_verde_concredito = #83b35b


  #ventas_index
    background-color #ffffff
    padding-bottom 50px
    padding-top 50px
    .breadcrumb
      padding-left 50px
      background-color #f7f7f8
      .option_add
        padding-right 50px
        a
          color #333
        a:hover
          color bg_verde_concredito
          text-decoration none
    .main-title
      h1
        font-family montserrat
        margin-bottom 0px
    #table_articulos_list
      .table_info_articulos
        a
          color bg-black
        a:hover
          color bg_verde_concredito

  #ventas_create
    background-color #ffffff
    padding-bottom 50px
    padding-top 50px
    .breadcrumb
      padding-left 50px;